html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--clr-light: hsl(0, 3.4%, 94%);
	--clr-med: hsl(0, 38.2%, 61.8%);
	--clr-dark: hsl(0, 61.8%, 23.6%);
	--clr-shadow-light: hsl(0, 1.6%, 100%);
	--clr-shadow-dark: hsl(45, 11%, 76%);
}
.body {
	height: 100vh;
	max-width: 828px;
	font-family: sans-serif;
	background-color: var(--clr-light);
	color: var(--clr-dark);
	font-size: 1.6rem;
}
.container-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}
.container-all > * {
	margin: 1rem;
}
.displayScore {
	height: 14.6vh;
}

table {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 30rem;
	font-size: 2rem;
	border-radius: 11px;
	padding: 1rem;
}
thead {
	font-size: 3rem;
}
tbody {
	margin-top: 2rem;
	width: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

tbody tr {
	width: 30rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.winCondition {
	margin-top: 5rem;
	font-size: 2rem;
}

.bttn-container {
	margin: 5rem 0px 2rem 0px;
	width: 828px;
	display: flex;
	justify-content: space-evenly;
}

.bttn {
	outline: none;
	border: none;
	width: 23.6%;
	height: 5rem;
	border-radius: 9999px;
	font-family: inherit;
	font-size: 2rem;
	background-color: var(--clr-light);
	box-shadow: -1.6px -2.6px 2.6px var(--clr-shadow-light),
		-2.6px -4.2px 4.2px var(--clr-shadow-light),
		-4.2px -6.9px 6.9px var(--clr-shadow-light), 1.6px 2.6px 2.6px var(--clr-shadow-dark),
		2.6px 4.2px 4.2px var(--clr-shadow-dark), 4.2px 6.9px 6.9px var(--clr-shadow-dark);
	color: var(--clr-dark);
}

.bttn:active {
	box-shadow: inset -1.6px -2.6px 2.6px var(--clr-shadow-light),
		inset -2.6px -4.2px 4.2px var(--clr-shadow-light),
		inset -4.2px -6.9px 6.9px var(--clr-shadow-light),
		inset 1.6px 2.6px 2.6px var(--clr-shadow-dark),
		inset 2.6px 4.2px 4.2px var(--clr-shadow-dark),
		inset 4.2px 6.9px 6.9px var(--clr-shadow-dark);
}

.footer {
	margin-top: 20rem;
	display: flex;
	width: 828px;
	justify-content: space-around;
}

a {
	text-decoration: none;
	color: var(--clr-dark);
}
